
<div style="min-height: 400px;" class='example-with-source'>
    <div class='example'>
      <div>
        <div>
          <span style="padding-right: 10px;" [id]="rootDomAttributeID"></span>
          <span style="padding-right: 10px;" [id]="rootDomMeasureID"></span>
          <span style="padding-right: 10px;" [id]="rootDomallMeasureID"></span>
          <span style="padding-right: 10px;" [id]="rootDomweakMeasureID"></span>
          <span [id]="rootDomResetID"></span>
        </div>
        <hr class="separator"/>
        <div style="height: 400px;" [id]="rootDomID"></div>
      </div>
    </div>
  </div>
  